body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 198, 255);
}

h1{
    font-size: 36px;
    color: rgb(111, 13, 203);
    margin-top: 0;
}

p{
    font-size: 20px;
    line-height: 1.3;
    color: rgb(150, 6, 30);
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color:rgb(239, 188, 222);
    flex-direction: column;
    display: flex;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px){
    h1{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    .container{
        width: 90%;
        padding: 10px;
    }
}