.error{
    color:rgb(255, 0, 0);
    margin: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.right{
    color: green;
    margin: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    background-color: rgb(255, 209, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

