.calculadora{
    position: fixed;
    top:50%;
    left:50%;
    background-color: rgb(80, 209, 214);
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    font-size: 7rem;
    background-image: linear-gradient(rgb(236, 133, 235),rgb(19, 82, 99));
    border: 2px solid #1b0468;
    border-radius:10px;
    padding:20px;

}/*Fechamento colculadora*/

.tela{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    width: 83%;
    height: 60px;
    margin-bottom: 20px;
    border: 3px solid #1b0468;
    padding: 15px;
    border-radius: 10px;
    background-color: #a08fc9;
    color: #121212;

}/*Fechamento tela*/

.botao{
    display:flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento botao*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}/*Fechamento linha*/

.operadores{
    background-color: #b09ed9;
    color:#210973;
    border: 2,1px solid; 
    border-radius: 5px;
}/*Fechamento operadores*/

.outros{
    background-color: #260b7d;
    color:rgb(236, 133, 235);
    border: 1,2px solid;
    border-radius: 5px;
}/*Fechamento outros*/

button{
    font-size: 1rem;
    width: 40px;
    height: 30px;
    margin-right: 10;
    border: 1,4px solid #a08fc9;
    border-radius: 5px;
    color:#1c0c52;
    cursor: pointer;
}

button:last-child{
    margin-right: 0;
}

button:hover{
    background-color: #1914a7;
    color: aqua;
}